.locale-select {
  h4 {
    margin-bottom: 6px;
  }
  .locales-list {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    @media (max-width: 857px) {
      justify-content: center;
    }
    .locale {
      cursor: pointer;
      span {
        padding: 5px 5px 5px 0;
        text-transform: uppercase;
        font-size: 18px;
        opacity: .5;
        font-weight: 400;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}