<div class="commands-container">
  <div class="commands">
    <div class="title-container">
      <h3 class="commands-title">{{ $t('commands.title') }}</h3>
      <p class="commands-title-content">{{ $t('commands.titleContent') }}</p>
    </div>
    <div class="command-cards-container">
      <div
        class="command-card-group"
        v-for="(cardGroup, i) in $t('commands.commandCards')"
        :key="i"
      >
        <div
          :id="`commands-${ card.classTitle }`"
          class="command-card-wrapper"
          :class="`commands-${ card.classTitle }`"
          v-for="(card, c) in cardGroup"
          :key="c"
        >
          <div class="command-card">
            <a :href="`#commands-${ card.classTitle }`">
              <h4 class="card-title">
                {{ card.cardTitle }}
              </h4>
            </a>
            <ul class="command-card-content">
              <li
                class="command-card-item"
                v-for="(commandItem, ci) in card.cardContent"
              >
                <h6>{{ commandItem.title }}</h6>
                <p>{{ commandItem.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>