.commands-container {
  display: flex;
  flex: 4 4 1px;
  @media (max-width: 857px) {
    flex-direction: column;
  }
  .commands {
    flex: 4 4 1px;
    @media (max-width: 857px) {
      margin: 0;
    }
  }
}

.commands {
  margin-right: 40px;
  .title-container {
    
  }
  .command-cards-container {
    margin: -20px 0;
    .command-card-group {
      margin: 40px 0;
      border-radius: 30px;
      width: 100%;
      background-color: var(--l-card-bgc);
      overflow: hidden;
      .command-card-wrapper {
        &:not(:last-child) {
          border-bottom: 5px dashed rgba(142, 68, 173, 0.5);
        }
        .command-card {
          padding: 25px 30px 40px 30px;
          @media (max-width: 576px) {
            padding: 20px 15px 20px 15px;
          }
          .card-title {
            margin-bottom: 10px;
            user-select: none;
            font-weight: bolder;
            font-size: 70px;
            text-transform: uppercase;
            line-height: 70px;
            opacity: .4;
            color: var(--d-main-purple-font-color);
            @media (max-width: 576px) {
              font-size: 30px;
              line-height: 30px;
              text-align: center;
            }
            a {
              font-size: 70px;
              color: #FFF;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .command-card-content {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            margin: -10px -6px;
            @media (max-width: 1100px) { grid-template-columns: repeat(3, 33%); }
            @media (max-width: 992px) { grid-template-columns: repeat(2, 50%); }
            @media (max-width: 857px) { grid-template-columns: repeat(3, 33%); }
            @media (max-width: 576px) { grid-template-columns: repeat(2, 50%); }
            @media (max-width: 450px) {
              grid-template-columns: 100%;
              .command-card-item {
                h6 {
                  margin-bottom: 3px;
                }
                h6, p {
                  text-align: center;
                }
              }
            }
            .command-card-item {
              margin: 10px 10px;
              h6 {
                font-size: 16px;
                color: var(--d-main-purple-font-color);
              }
              p {
                padding: 0;
                margin: 0;
                font-weight: 300;
                font-size: 12px;
              }
              @media (max-width: 450px) {
                margin: 4px 10px;
              }
            }
          }
        }
      }
      .commands-region-private {
        // background: rgb(231,76,60);
        // background: linear-gradient(225deg, rgba(231,76,60,1) 0%, rgba(245,176,65,1) 50%, rgba(231,76,60,1) 100%);
        // border-bottom: 5px dashed red;
      }
    }
  }
}

.dark {
  .commands-container {
    .commands {
      .command-cards-container {
        .command-card-group {
          background-color: var(--d-second-level-bgc-color);
          .command-card-wrapper {
            &:not(:last-child) {
              border-bottom: 5px dashed #FFF;
            }
            .command-card { 
              .card-title {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
}