<div class="sign-up-modal">
  <h1>Sign Up</h1>
    <div>
      <label>Соси:</label>
      <input
        id="sign-up-login-input"
        v-model="$v.login.$model"
      >
      <div class="error" v-if="$v.login.$dirty && !$v.login.required">Field is required</div>
      <div class="error" v-if="$v.login.$dirty && !$v.login.minLength">Name must have at least {{$v.login.$params.minLength.min}} letters.</div>
      <!-- <pre>{{$v.login}}</pre> -->
    </div>
    <div>
    <input v-model="$v.text.$model" :class="status($v.text)">
    <div class="error" v-if="$v.text.$dirty && !$v.text.required">Field is required</div>
    <div class="error" v-if="$v.text.$dirty && !$v.text.minLength">Name must have at least {{$v.text.$params.minLength.min}} letters.</div>
    <!-- <pre>{{ $v }}</pre> -->
    </div>
</div>
