<div class="sign-in-modal">
  <h1 align="center">{{ $t('header.auth.signIn') }}</h1>
  <form class="sign-form" @submit.prevent="submitHandler">

    <div class="input-block">
      <label for="sign-up-input-login">Nickname</label>
      <input
        id="sign-up-input-field"
        v-model.trim="$v.login.$model"
        placeholder="Enter nickname"
        autocomplete="username"
        class="input-field"
        :class="{invalid: ($v.login.$dirty && $v.login.$invalid)}"
      >
      <div
        class="valid-error"
        v-if="$v.login.$dirty && !$v.login.required"
        >{{ $t('valid.required') }}
      </div>
    </div>

    <div class="input-block">
      <label for="sign-up-password-input">Password:</label>
      <input
        id="sign-up-password-input"
        v-model="$v.password.$model"
        placeholder="Enter password"
        type="password"
        autocomplete="new-password"
        class="input-field"
        :class="{invalid: ($v.password.$dirty && $v.password.$invalid)}"
      >
      <div
        class="valid-error"
        v-if="$v.password.$dirty && !$v.password.required"
        >{{ $t('valid.required') }}
      </div>
    </div>
  </form>
  <button
    type="submit"
    variant="primary"
    :disabled="$v.$invalid"
    class="bnt-submit"
    :class="{btn_disabled: ($v.$invalid)}"
    >{{ $t('header.auth.signIn') }}
</button>
</div>
