<div class="shop">
  <div
    v-if="$store.state.user.userRoles.includes('Admin')"
    class="admin-block"
  >
    <fdw-shop-game-server></fdw-shop-game-server>
    <fdw-shop-category></fdw-shop-category>
    <fdw-shop-item></fdw-shop-item>
  </div>
  <div class="shop-header">
    <h1>Магазин</h1>
    <p>Рады Вас приветствовать в онлайн-магазине! Для начала выберите нужный сервер и приступайте к покупкам!</p>
  </div>
  <div class="shop-search-tools">
    <div class="search-wrapper">
      <magnify
        class="magnify"
        title=""
        :size="32"
        decorative
      ></magnify>
      <input
        class="search-field"
        type="text"
        placeholder="Введите текст для поиска..."
        v-model="getItemsPayload.itemsForSearch"
        @input="instantGetItemsQuery"
      >
    </div>
    <fdw-select
      class="server-select"
      :options="gameServers"
      label="title"
      placeholder="Игровая ветка"
      @input="selectServer"
    />
    <fdw-select
      class="mod-select"
      :options="categories"
      label="ruTitle"
      placeholder="Категория"
      @input="selectCategory"
    />
    <fdw-select
      class="sort-select"
      placeholder="Сортировать"
      label="ruTitle"
      :options="sortTypes"
      @input="setSortType"
    />
  </div>
  <div class="shop-body">
    <div class="items">
      <div
        class="item"
        v-for="(item, i) in items.data"
        :key="i"
      >
        <h6 class="item-title">{{ item.ruTitle }}</h6>
        <img :src="item.icon" alt="icon">
        <div class="buy-btn">
          <p>{{ item.coins }} монет</p>
          <p>{{ item.count }} шт.</p>
        </div>
      </div>
    </div>
  </div>
</div>