<div class="shop">
  <div class="shop-header">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsa?</p>
  </div>
  <div class="shop-search-tools">
    <div class="search-wrapper">
      <magnify
        class="magnify"
        title=""
        :size="32"
        decorative
      ></magnify>
      <input
        class="search-field"
        type="text"
        placeholder="Введите текс для поиска..."
      >
    </div>
    <fdw-select
      class="server-select"
      :options="servers"
      placeholder="Сервер"
    />
    <fdw-select
      class="mod-select"
      placeholder="Модификация"
    />
    <fdw-select
      class="sort-select"
      placeholder="Сортировать"
    />
  </div>
  <div class="shop-body">

  </div>
</div>