*, *::after, *::before, ul, p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

.desktop-footer,
.footer-info,
.title-info-wrapper,
.body-info-wrapper,
.footer-wrapper {
  display: flex;
}

.footer {
  -webkit-box-shadow: 0px -1px 18px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 18px -6px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 18px -6px rgba(0,0,0,0.5);
  background-color: var(--l-first-level-bgc-color);
  transition: .3s;
  a {
    color: #000;
  }
}

.dark .footer {
  box-shadow: none;
  border-top: 1px solid var(--d-first-level-border-color);
  background-color: var(--d-first-level-bgc-color);
  a {
    color: var(--d-first-level-font-color);
  }
}

.desktop-footer {
  margin: 0 auto;
  padding: 50px;
  max-width: 1480px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 857px) {
    padding: 50px 0;
    flex-direction: column;
    .footer-logo {
      display: none;
    }
  }
  .footer-info {
    flex-direction: column;
    justify-content: space-between;
    a {
      padding: 0 5px;
    }
    .title-info-wrapper {
      margin: 5px 0;
      justify-content: center;
      align-items:center;
      flex-wrap:wrap;
      .title-item-info a {
        color: var(--l-first-level-font-color);
      }
    }
    .body-info-wrapper {
      margin: 5px 0;
      justify-content: center;
      align-items:center;
      flex-wrap:wrap;
      .body-item-info a {
        color: var(--l-first-level-font-color);
      }
    }
    .about-info-wrapper {
      margin: 5px 0;
      p {
        cursor: default;
        text-align: center;
      }
    }
  }
  .footer-wrapper {
    flex-wrap: wrap;
    align-items: center;
  }
}