.squares {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  .square {
    position: absolute;
    display: block;
    list-style: none;
    border-radius: 10%;
    background:#e0f1fd;
    animation: animate 25s linear infinite;
  }
}

.dark {
  .square {
    background-color: #EBECF9;
  }
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: var(--base-opacity);
  }

  10% {
    opacity: var(--base-opacity);
  }

  20% {
    opacity: 0.6;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);  
  }

}
