:root {
  --l-first-level-bgc-color: #FFF;
  --d-first-level-bgc-color: #2F3136;
  --l-first-level-font-color: #000;
  --d-first-level-font-color: #FFF;
  --d-first-level-border-color: #26272B;

  --l-second-level-bgc-color: #FFF;
  --d-second-level-bgc-color:#202225 ;
  --l-second-level-font-color: #FFF;
  --d-second-level-font-color: #2F3136;

  --l-third-level-bgc-color: #FFF;
  --d-third-level-bgc-color: #36393F;
  --l-third-level-font-color: #2F3136;
  --d-third-level-font-color: #FFF;

  --d-main-purple-font-color: #8e44ad;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}