:root {
  --l-font-color: #353535;
  --d-font-color: #FFF;

  --l-font-color-hover: rgba(0, 0, 0, 0.5);
  --d-font-color-hover: rgba(255, 255, 255, 0.5);
  
  --d-main-purple-font-color: #8e44ad;
  --l-card-bgc: #F6F9FC;
  --l-bgc: #FFF;
  
  --l-bg-gradient-default: rgb(163,112,250);
  --l-bg-gradient: linear-gradient(225deg, rgba(163,112,250,1) 0%, rgba(105,125,250,1) 40%, rgba(105,125,250,1) 60%, rgba(105,185,250,1) 100%);

  --d-first-level-bgc: #2F3136;
  --d-second-level-bgc:#36393F;
  --d-third-level-bgc: #202225;

  --main-font: 'Roboto';

  // @media (max-width: 1200px) {}
  // @media (max-width: 1096px) {}
  // @media (max-width: 992px) {}
  // @media (max-width: 767px) {}
  // @media (max-width: 576px) {}
}
